
@{
    Layout = "~/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background-image: url("/Images/film-102681_1920.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        div {
            font-family: Arial;
            position: relative;
            color: white;
            top: 100px;
            background-color: aqua;
            text-align: center;
        }
    </style>
</head>
<body>
    <center>

        <div>

            <h1>Welcome!</h1>
            <h3> Tech Career Movie Rent Site</h3>
        </div>


    </center>
</body>
</html>
